:root {
    --neutron-purple: #8555f6;
    --neutron-purple-dark: #5b3aa9;
    --neutron-purple-light: #9b72f2;
    --background-color: #151515;
    --content-background-color: #222222;
    --dark-color: #333333;
    --light-color: #555555;
}

* {
    font-family: "Open Sans";
    color: white;
}

.document {
    background-color: var(--background-color);
}

div.content {
    width: 80%;
    min-width: 250px;
    border: 2px solid var(--light-color);
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 20px;
    background-color: var(--content-background-color);
    overflow-x: auto;       
    box-sizing: border-box; 
}

@media (max-width: 600px) {
    div.content {
        width: 100%;
        min-width: unset;
        border-radius: 0;
        border-left: none;
        border-right: none;
    }
}

div.horizontal {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-content: center;
}

div.vertical {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-content: center;
}

hr {
    border: none; 
    height: 1px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: var(--light-color);
}


/* set code font for code blocks */
* code, code * { 
    font-family: "Source Code Pro" !important; 
}

pre {
    scrollbar-width: thin !important; 
    scrollbar-color: var(--content-background-color) transparent !important; 
}

* button, button * {
    background-color: transparent;
    border: 1px solid var(--neutron-purple);
    border-radius: 3px;
}

/* mjx-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
} */

code {
    border-width: 1px;
    border-color: var(--light-color) !important;
    background-color: var(--dark-color) !important;
    border-radius: 3px;
    border-style: solid;
    padding: 2px;
    overflow-x: auto;
    display: inline-block;    
}

p code {
    display: inline;
    word-break: break-word;
    
}

img.author {
    width: 60px;
    height: 60px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid var(--light-color);
    margin-right: 15px;
}

img.emojione {
    height: 1rem;
    margin-top: auto;
    margin-bottom: auto;
}

mark {
    background-color: color-mix(in srgb, var(--neutron-purple) 20%, transparent);
    border-color: var(--neutron-purple-dark);
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    padding-inline: 3px;
}

blockquote {
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid var(--light-color);
    background-color: var(--background-color);
    border-radius: 3px;
    padding: 10px;
    
}

blockquote p {
    font-style: italic;
}

/* Unchecked */
input[type="checkbox"] {
    appearance: none;
    width: 14px;
    height: 14px;
    background: var(--dark-color);
    border: 1px solid var(--neutron-purple-dark);
    border-radius: 3px;
    margin-top: auto;
    margin-bottom: auto;
}

input[type="checkbox"][checked] {
    content: "X";
    width: 14px;
    height: 14px;
    background: var(--neutron-purple);
    border: 1px solid var(--neutron-purple-dark);
    border-radius: 3px;
    margin-top: auto;
    margin-bottom: auto;
}

a[href] {
    color: var(--neutron-purple-light);
}

table {
  display: inline-block;
  width: max-content;
  overflow-x: auto;
  max-width: 100%;
  border-collapse: collapse;
  scrollbar-width: thin !important; 
  scrollbar-color: var(--light-color) transparent !important;
  -webkit-overflow-scrolling: touch;
}

th, td {
    padding: 8px 14px;
    border: 1px solid var(--light-color);
    overflow-wrap: normal;
    word-break: normal;
    min-width: 20ch;
}

thead th {
    background-color: var(--dark-color);
}

kbd {
    border: 1px solid var(--light-color);
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: var(--dark-color);
}

video {
    border-radius: 3px;
    border-bottom: 1px solid var(--neutron-purple);
    width: 40%;
    aspect-ratio: auto;
}